* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
.navbar {
    height: 60px;
    display: flex;
    font-size: 1.5vw;
    position: sticky;
}
.navbar_item {
    height: 40px;
    padding-top: 3px;
}
.navbar_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_logo {
    color: white;
    display: flex;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    color: red;
    height: 100%;
}
.navbar_btn:hover {
    color: rgb(173, 0, 0);
    border-radius: 15px;
}
.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top:  1%;
    padding-bottom: 1%;
    margin-right: auto;
    color: white;
    font-size: 1.2vw;
    position: relative;
}
.button:hover {
    animation: pulse 1.8s infinite;
}
.button:hover::before {
    position: sticky;
    content: ">";
    font-size: 1.5vw;
    margin-top: -0.3%;
    color: red;
    animation: fade-in-left 0.6s forwards;
}
.button:hover::after {
    position: sticky;
    content: "<";
    font-size: 1.5vw;
    margin-top: -0.3%;
    color: red;
    animation: fade-in-right 0.6s forwards;
}
@keyframes fade-in-left {
    0% {
        margin-left: -1.5%;
        margin-right: -1.5%;
        opacity: 0;
    }
    100% {
        margin-left: -1%;
        margin-right: -2%;
        opacity: 1;
    }
}
@keyframes fade-in-right {
    0% {
        margin-left: -1.5%;
        margin-right: -1.5%;
        opacity: 0;
    }
    100% {
        margin-left: -2%;
        margin-right: -1%;
        opacity: 1;
    }
}

.main_content {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10%;
    color: white;
    padding-bottom: 4%;
    /*border: 2px solid white;*/
    margin-inline: 25%;
    position: relative;
}
.sub_content {
    color: white;
    /*border: 2px solid white;*/
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    margin-inline: 25%;
    overflow: auto;
    position: relative;
}
h1 {
    font-size: 6vw;
    padding-inline: 4%;
}
h2 {
    font-size: 6vw;
    padding-right: 3%;
}
@keyframes pulse {
	60% {
        opacity: 0.8;
		font-size: 1.18vw;
	}
    100% {
        opacity: 1;
    }
}
.sub_content1 {
    color: white;
    padding-bottom: 1.5%;
    margin-inline: 25%;
}
#bar {
    width: 0%;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    color: white;
}
#bar1 {
    width: 0%;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    color: white;
}
.boxer {
    display:flex;
    width: 50%;
    margin-inline: auto;
    margin-top: 20%;
    border: 2px solid white;
    position: relative;
}
.footer {
    color:white;
    position: relative;
    text-align: center;
    margin-top: 4.5%;
    font-size: 1vw;
}
.header {
    margin-top: 2.5%;
}
h4 {
    color:white;
    text-align: center;
    padding-top: 2%;
    font-size: 2vw;
    position: relative;
}
.main_content1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 13%;
    margin-bottom: -4%;
    color: white;
    /*border: 2px solid white;*/
    margin-inline: 25%;
}
h3 {
    color:white;
    text-align: center;
    font-size: 4vw;
    margin-top: -20%;
    margin-bottom: -20%;
    }
.title {
    text-align: left;
    margin-left: -20%;
    line-height: 30px;
    border-bottom: 2px solid white;
    width: max-content;
    animation: glowing 2500ms infinite;
}
.about {
    font-size: 1vw;
    text-align: left;
    margin-left: -20%;
    margin-right: -20%;
    line-height: 30px;
}
@keyframes glowing {
    0% {
      color: rgb(180,0, 0);
    }
    50% {
      color: red;
    }
    100% {
      color: rgb(180, 0, 0);
    }
}
.pacman1 {
    position: relative;
    overflow: hidden;
    padding-top: 2%;
    background-image: radial-gradient(white 10%, transparent 0);
    background-size: 8vmin 8vmin;
    background-position: 0px 120%;
}
.pacman1::after {
    content: "";
    display: block;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0);
    animation: close_mouth1 0.3s linear infinite, movee1 10s linear infinite;
}
.pacman1::before {
    content: "";
    position: absolute;
    height: 6vmin;
    width: 100vw;
    animation: color_re1 10s linear infinite;
    border-left: 10px solid black;
}
.pacman {
    position: relative;
    overflow: hidden;
    background-image: radial-gradient(white 10%, transparent 0);
    background-size: 8vmin 8vmin;
    background-position: 0px 120%;
}
.pacman::after {
    content: "";
    display: block;
    margin-top: 2%;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    background: conic-gradient(yellow 235deg, transparent 0 305deg, yellow 0);
    animation: close_mouth 0.3s linear infinite, movee 20s linear infinite;
}
.pacman::before {
    content: "";
    position: absolute;
    margin-top: 1.8%;
    margin-right: 0.3%;
    height: 6vmin;
    width: 100vw;
    animation: color_re 20s linear infinite;
}
@keyframes movee {
    0% {
        opacity: 0;
        transform: translate(-10vmin, 0);
    }
    24.9% { 
        opacity: 0;
        transform: translate(100vw, 0);
    }
    25% {
        opacity: 1;
        transform: translate(100vw, 0) 
    }
    50% {
        opacity: 1;
        transform: translate(-10vmin, 0) 
    }
    50.1% {
        opacity: 0;
    }
    75% {
        opacity: 0;
        transform: translate(100vw, 0);
    }
    75.1% {
        opacity: 1;
    }
}
@keyframes movee1 {
    0% {
        opacity: 1;
        transform: translate(-10vmin, 0);
    }
    50% { 
        opacity: 1;
        transform: translate(100vw, 0);
    }
    50.1% {
        opacity: 0;
        transform: translate(100vw, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-10vmin, 0);
    }
}
@keyframes close_mouth {
    0% { 
        background: conic-gradient(yellow 235deg, transparent 0 305deg, yellow 0); 
    }
    25% { 
        background: conic-gradient(yellow 235deg, yellow 0);
    }
    50% { 
        background: conic-gradient(yellow 235deg, transparent 0 305deg, yellow 0); 
    }

}
@keyframes close_mouth1 {
    0% { 
        background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0); 
    }
    25% { 
        background: conic-gradient(yellow 55deg, yellow 0);
    }
    50% { 
        background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0); 
    }

}
@keyframes color_re {
    0% {
        opacity: 1;
        background-color: black;
    }
    25% {
        opacity: 1;
        transform: translate(100vw, 0);
        background-color: black;
    }
    50% {
        opacity: 1;
        transform: translate(-10vmin, 0);
        background-color: black;
    }
    50.1% {
        box-shadow: 100vw 0px black;
    }
    75% {
        opacity: 1;
        transform: translate(100vw, 0);
        background-color: black;
    }
    100% {
        opacity: 1;
        background-color: black;
    }
}
@keyframes color_re1 {
    0% {
        transform: translate(-10vmin, 0);
        box-shadow: 0px 0px black;
    }
    50% { 
        transform: translate(100vw, 0);
        box-shadow: -100vw 0px black;
    }
    50.1% {
        box-shadow: -100vw 0px black;
    }
    100% {
        box-shadow: -100vw 0px black;

    }
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*border: 2px solid white;*/
  }
.main_content2 {
    display: inline-block;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
    padding-top: 0%;
    position: relative;
    height: 80%;
    width: 60%;
    overflow: auto;
    margin-left: 20%;
}