* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
.navbar {
    height: 60px;
    display: flex;
    justify-content: right;
    font-size: 1.5vw;
    position: sticky;
}
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item {
    height: 40px;
    padding-top: 3px;
}
.navbar_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    color: red;
    height: 100%;
}
.navbar_btn:hover {
    color: rgb(173, 0, 0);
    border-radius: 15px;
}
.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top:  1%;
    margin-right: auto;
    color: white;
    font-size: 1.2vw;
}
.button:hover {
    font-size: 1.25vw;
    transition: 400ms ease-in;
}
.button:hover::before {
    content: '\25BA';
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: -1%;
    animation: glowing 2000ms infinite;
}
.button:hover::after {
    content: '\25C4';
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: -1%;
    animation: glowing 2000ms infinite;
}
.navbar_links:hover {
    color:rgba(255, 255, 255, 0.54);
    transition: all 0.15s ease-in;
}
.main_content {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 13%;
    color: white;
    padding-bottom: 4%;
    /*border: 2px solid white;*/
    margin-inline: 25%;
}
.sub_content {
    color: white;
    border: 2px solid white;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    margin-inline: 25%;
}
h1 {
    font-size: 6vw;
    padding-inline: 4%;
}
h2 {
    font-size: 6vw;
    padding-right: 3%;

}
.button1 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 3%;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    /*border: 2px solid white;*/
    font-size: 2vw;
    animation: glowing 2000ms infinite;
}
.button1:hover {
    font-size: 2vw;
    transition: 100ms ease-in;
    cursor: default;
}
/*.button1:hover::before {
    color: red;
    content: '\25BA';
    font-size: 2.3vw;
    font-weight: bold;
    margin-top: -8px;
}
.button1:hover::after {
    color: red;
    content: '\25C4';
    font-weight: bold;
    font-size: 2.3vw;
    margin-top: -8px;
}*/
@keyframes glowing {
    0% {
      color: rgb(180,0, 0);
    }
    50% {
      color: red;
    }
    100% {
      color: rgb(180, 0, 0);
    }
}
.sub_content1 {
    color: white;
    padding-bottom: 1.5%;
    margin-inline: 25%;
}
body {
    background-color: black;
}
#bar {
    width: 0%;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    color: white;
}
#bar1 {
    width: 0%;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    color: white;
}
.boxer {
    display:flex;
    width: 50%;
    margin-inline: auto;
    margin-top: 20%;
    border: 2px solid white;
}
h3 {
    color:white;
    text-align: center;
    padding-top: 2%;
    font-size: 4vw;
    margin-top: -25%;
    /*border: 2px solid white*/;
}
.footer {
    color:white;
    position: relative;
    text-align: center;
    margin-top: 4.5%;
    font-size: 1vw;
}
.about {
    margin-top: -15%;
}